snippet panel "snippet for panel"
<div class="readmin-panel">
  <div class="panel-heading">
    <h5>${1:Panel title}</h5>
  </div>
  <div class="panel-body">

  </div>
</div>
endsnippet






































snippet c "html comment"
<!-- / ${1:div} -->
endsnippet

snippet lcs "large comment start"

<!--

START ${1:div}

-->

endsnippet

snippet lce "large comment end "

<!--

END ${1:div}

-->

endsnippet
