snippet react "reacct documetn"

var $1 = React.createClass({
	render: function() {
		return (
			<div calssName = "test">
			Hello, world! I am a CommentBox.
			</div>
		);
	}
});

React.render(
	<$1 />,
	document.getElementById('')
);



endsnippet
